.Attribute.Avatar {
    background-color: cadetblue;
    flex: 0.8;
}

.Attribute.Roll {
    flex: 0.2;
    margin-left: 36px;
}

.Attribute {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Attribute.Avatar > * {
    flex: 0.3;
}

.Attribute.Avatar > :first-child {
    flex: 1;
}

.IncDec.Buttons {
    display: flex;
    flex-direction: column;
}

.IncDec.Buttons > button {
    max-width: 36px;
}

.Roll.Buttons > button {
    max-width: 48px;
}

.Buttons {
    align-items: center;
    text-align: center;
    max-height: 48px;
    height: 100%;
}

.Buttons > button {
    width: 100%;
    height: 100%;
}