.Background.Avatar {
    max-width: 580px;
}

.Background.Avatar.Small {
    display: flex;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    min-width: 220px;
}

.Background.Avatar.Large > * {
    margin: 8px;
}

.Background.Avatar > div > * {
    margin: 1px;
}

.no-margins > * {
    margin: 0px;
}

input.tiny {
    width: 36px;
}

// Modified version of css found in react-tabs/styles
.BackgroundTab {
    margin: 0;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px; // go 1px down so the background when selected covers border below
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.BackgroundTab.Selected {
    border-color: darkslategrey;
    border-radius: 5px 5px 0 0;
}