@import "../../constants.scss";

.Header {
    padding-top: $headerTopPadding;
    padding-bottom: $headerBottomPadding;
    //height: $headerHeight;
    text-align: center;
    background-color: burlywood;
    width: 100%;
}