@import "../../constants.scss";

.Header {
    top: 0;
    padding-top: $headerTopPadding;
    height: $headerHeight;
    padding-bottom: $headerBottomPadding;
    position: absolute;
    text-align: center;
    background-color: burlywood;
    width: 100%;
}