@import "../../constants.scss";

.Footer {
    padding-top: $footerTopPadding;
    padding-bottom: $footerBottomPadding;
    height: $footerHeight;
    text-align: center;
    background-color:whitesmoke;
    width: 100%;
}