.Scg {
    max-width: 1800px;
    min-width: 980px;
    display: inline-block;
    width: 80%;
    margin-left: 12px;
    margin-right: 12px;
}

#tool {
    display: inherit;
    width: 100%;
}

.flexbox {
    display: flex;
}

.flex.grow
{
    flex: 1;
}

.flex
{
    flex: 0;
}

.button.tiny
{
    height: 28px;
    width: 32px;
}

.scroll
{
    overflow-y: auto;
}

.column
{
    flex-direction: column;
}

.no-margins
{
    margin: 0;
}

.no-margin
{
    margin: 0;
}

.center
{
    text-align: center;
}

.no-bottom-margin > :last-child
{
    margin-bottom: 0;
}

.padding-8
{
    box-sizing: border-box;
    padding: 8px;
}

.padding-4
{
    box-sizing: border-box;
    padding: 4px;
}

.margin-8
{
    margin: 8px;
}

h2
{
    margin: 6px 0;
}

button
{
    cursor: default;
}