.Scg {
    max-width: 1800px;
    min-width: 980px;
    display: inline-block;
    width: 80%;
    margin-left: 12px;
    margin-right: 12px;
}

#tool {
    display: flex;
}

#tool > div {
    margin: 24px;
    flex: 1;
}