.available-points
{
    display: flex;
    width: 100%;
    text-align: center;
}

.skill-table
{
    min-width: 240px;
    max-width: 320px;
}

.skill-row
{
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
}

.skill-row > *
{
    margin-left: 12px;
    margin-right: 12px;
}

.skill-cell
{
    display: table-cell;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
}