.available-points
{
    display: flex;
    width: 100%;
    text-align: center;
}

.skill-table
{
    min-width: 240px;
    max-width: 320px;
}

.skill-row
{
    display: flex;
}

.skill-row > *
{
    margin-left: 8px;
    margin-right: 8px;
}

.skill-cell
{
    display: table-cell;
    margin-top: auto;
    margin-bottom: auto;
}

.skill-cell.info-button
{
    max-height: 24px;
}