.available-points
{
    display: flex;
    width: 90%;
    margin: auto;
    min-width: 580px;
    text-align: center;
}

.skill-table
{
    width: 80%;
    margin: auto;
    min-width: 280px;
    max-width: 320px;
    background-color: #94b9f2;
}