.Panel {
    width: 100%;
    max-width: 860px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color:  navajowhite;// rgb(165, 159, 219);
    text-align: left;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}