.list {
    overflow-y: auto;
    height: 95%;
    //max-height: 520px;
    margin-left: 4px;
}

.list > *
{
    margin-top: 6px;
    margin-top: 6px;
}

.list > :first-child
{
    margin-top: 0;
}

.list > :last-child
{
    margin-bottom: 0;
}

.bg.interactive {
    display: flex;
    flex-direction: column;
    margin-right: 4px;
}

.bg {
    height: auto;
    //max-height: 560px;
}

.bg.available
{
    flex: 0.8;
    max-width: 300px;
    position: relative;
}