@import "../constants.scss";

.scg
{
    background-color: $backgroundColor;
    text-align: center;
    position: absolute;
    bottom: $navFooterHeight;
    left: 0;
    right: 0;
    top: $headerHeight + $headerTopPadding + $headerBottomPadding + $headerBottomMargin;
    overflow-y: auto;
}

.navigation-header
{
    text-align: left;
    height: $headerHeight;
    padding-top: $headerTopPadding;
    padding-bottom: $headerBottomPadding;
    position: absolute;
    width: 100%;
    top: 0;
}

.button-container
{
    width: max-content;
    margin: auto;
    padding: 18px;
}

.button-container > .rs-btn-group
{
    margin-left: 12px;
    margin-right: 12px
}

.navigation-footer
{
    background-color: $backgroundColor;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: $navFooterHeight;
}

.navigation-steps
{
    height: 52px;
    width: 80%;
    margin: auto;
    min-width: $panelMinWidth;
}

.flexbox {
    display: flex;
}

.flex.grow
{
    flex: 1;
}

.flex
{
    flex: 0;
}

.button.tiny
{
    height: 28px;
    width: 32px;
}

.scroll
{
    overflow-y: auto;
}

.column
{
    flex-direction: column;
}

.no-margins
{
    margin: 0;
}

.no-margin
{
    margin: 0;
}

.center
{
    text-align: center;
}

.no-bottom-margin > :last-child
{
    margin-bottom: 0;
}

.padding-8
{
    box-sizing: border-box;
    padding: 8px;
}

.padding-4
{
    box-sizing: border-box;
    padding: 4px;
}

.margin-8
{
    margin: 8px;
}

h2
{
    margin: 6px 0;
}

button
{
    cursor: default;
}

.info-button
{
    color: $infoButtonTextColor;
    background-color: $infoButtonColor;
    max-width: 22px;
}