.Vertical.Radio {
    display: flex;
    flex-direction: column;
}

.Vertical.Radio > * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.ModeSelector {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    background-color: #94b9f2;
}

.Attribute.Avatar {
    background-color: #94b9f2;
    flex: 0.8;
    padding-left: 18px;
    max-width: 520px;
    padding-right: 6px;
}

.Attribute.Roll {
    flex: 0.2;
    margin-left: 36px;
}

.Attribute {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Attribute.Avatar > :first-child {
    flex: 0.3;
}

.Attribute.Avatar > :nth-child(2) {
    flex: 0.4;
}

.Attribute.Avatar > :nth-child(3) {
    flex: 0.3;
}

.IncDec.Buttons {
    display: flex;
    flex-direction: column;
}

.IncDec.Buttons > button {
    max-width: 36px;
}

.Buttons {
    align-items: center;
    text-align: center;
    max-height: 48px;
}

.Buttons > button {
    width: 100%;
    height: 100%;
}