.Focus.Avatar li
{
    margin-bottom: 4px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 4px;
}

.Focus.Avatar ol
{
    margin: 8px;
    overflow-y: auto;
    padding-left: 18px;
}

.Focus.Avatar .description
{
    background-color: lightgrey;
}

.Focus.Avatar .description.unlocked
{
    background-color: #bfffcb;
}

.Focus.Avatar
{
    background-color: navajowhite;
}