.foci.chosen
{
}

.foci.available
{
}

.foci
{
    overflow-y: scroll;
    max-height: 400px;
}

.foci > .Focus.Avatar
{
    margin: 8px 4px;
}

.foci > .Focus.Avatar:first-of-type
{
    margin-top: 0;
}

.foci > .Focus.Avatar:last-of-type
{
    margin-bottom: 0;
}