.foci.chosen
{
    overflow-y: scroll;
}

.foci.available
{
    overflow-y: scroll;
}

.foci
{
    max-height: 480px;
}

.foci > .Focus.Avatar
{
    margin: 8px 4px;
}

.foci > .Focus.Avatar:first-of-type
{
    margin-top: 0;
}

.foci > .Focus.Avatar:last-of-type
{
    margin-bottom: 0;
}