.Discipline.Avatar
{
    background-color: #94b9f2;
    height: 100%;
    width: 100%;
}

.PsychicList > div > h3
{
    margin: 8px 0;
}

.Discipline.Avatar.Medium
{
    
}

.discipline-powers
{
    margin-bottom: 12px;
}

.power-container
{
    margin: 0 12px;
}