.Psychic.Avatar
{
    background-color: navajowhite;
}

.Psychic.Avatar.Owned
{
    background-color: lightgreen;
}

.Psychic.Avatar.Unowned
{
    background-color: pink;
}

.Psychic.Avatar.Unavailable
{
    background-color: lightgrey;
}

.Psychic.Avatar.Power
{
    height: 100%;
}