.Psychic.Avatar
{
    background-color: lightgreen;
}

.Psychic.Avatar.Power
{
    height: 100%;
    padding: 4px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Psychic.Avatar.Owned
{
}

.Psychic.Avatar.Unowned
{
    background-color: pink;
}

.Psychic.Avatar.Unavailable
{
    background-color: palevioletred;
    cursor: default;
}

.Psychic.Avatar.Locked
{
    background-color: lightgrey;
    cursor: not-allowed;
}
