$footerHeight: 124px;
$footerTopPadding: 36px;
$footerBottomPadding: 24px;

$headerHeight: 32px;
$headerTopPadding: 8px;
$headerBottomPadding: 12px;

$pageMarginTop: 2px;
$pageMarginBottom: 48px;
$pageMarginLeft: 64px;
$pageMarginRight: 64px;