$footerHeight: 56px;
$footerTopPadding: 28px;
$footerBottomPadding: 68px;
$navFooterHeight: 72px;

$headerHeight: 80px;
$headerTopPadding: 28px;
$headerBottomPadding: 8px;
$headerBottomMargin: 12px;

$pageMarginTop: 2px;
$pageMarginBottom: 48px;
$pageMarginLeft: 64px;
$pageMarginRight: 64px;

$panelMaxWidth: 1520px;
$panelMinWidth: 784px;

$backgroundColor: white;
$textColor: #22293b;
$infoButtonColor: #17a2b8;
$infoButtonTextColor: white;
$infoButtonHoverColor: #205d66;