$footerHeight: 56px;
$footerTopPadding: 28px;
$footerBottomPadding: 52px;

$headerHeight: 80px;
$headerTopPadding: 36px;
$headerBottomPadding: 36px;

$pageMarginTop: 2px;
$pageMarginBottom: 48px;
$pageMarginLeft: 64px;
$pageMarginRight: 64px;

$panelMaxWidth: 1360px;
$panelMinWidth: 784px;

$backgroundColor: white;
$textColor: #22293b;