@import "../../constants.scss";

.Panel {
    // The panel should take up a decent amount of the page, but have a nice border
    // Min and max widths for consistent behaviour
    width: 80%;
    text-align: left;
    max-width: $panelMaxWidth;
    min-width: $panelMinWidth;
    margin: auto;
}

.Panel h1
{
    margin: 0;
}

.Panel > h1
{
    text-align: center;
}

.panel-header
{
    margin-left: 18px;
    flex: 0.5;
    text-align: justify;
}

.panel-content
{
    flex: 0.5;
    min-width: min-content;
    margin-right: 18px;
}