.Discipline.Avatar
{
    width: 100%;
    border-radius: 0;
    min-width: 600px;
}

.PsychicList > div > h3
{
    margin: 8px 0;
}

.discipline-powers
{
    margin-bottom: 6px;
}

.power-container
{
    margin: 0 4px;
}

.Discipline.Avatar > .rs-panel-body
{
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.Discipline.Avatar > .rs-panel-heading::before
{
    margin: 5.5px;
}

.Discipline.Avatar > .rs-panel-heading
{
    padding-top: 8px;
    padding-bottom: 8px;
}

.Discipline.description
{
    width: max-content;
    position: relative;
    margin-top: auto;
    margin-bottom: 3px;
    margin-right: 16px;
    text-align: left;
    max-width: 460px;
    width: 100%;
}

p.Discipline.description
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h3.Discipline.description
{
    width: max-content;
    margin-left: auto;
}