.Psychic.Avatar.Power
{
    height: 100%;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: table-row;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.Psychic.Avatar.Power > .Name
{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.Psychic.Avatar.Power > .Name > h4
{
    display: inline-block
}

.Psychic.Avatar.Owned
{
    background-color: lightgreen;
}

.Psychic.Avatar.Unowned
{
    background-color: pink;
}

.Psychic.Avatar.Unavailable
{
    background-color: palevioletred;
    cursor: default;
}

.Psychic.Avatar.Locked
{
    background-color: lightgrey;
    cursor: not-allowed;
}
