.Background.Avatar {
    background-color: cadetblue;
    max-width: 580px;
}

.Background.Avatar.Small {
    display: flex;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    min-width: 220px;
}

.Background.Avatar.Large > * {
    margin: 4px;
}

.Background.Avatar.Small > .Left {
    max-width: 200px;
    background-color: cyan;
    flex: 1;
}

.Background.Avatar.Small > .Right {
    max-width: 200px;
    background-color: cornflowerblue;
    flex: 1;
    padding-right: 6px;
}

.Background.Avatar > div > * {
    margin: 1px;
}

.no-margins > * {
    margin: 1px;
}

input.tiny {
    width: 36px;
}

.BackgroundTab.Selected {
    border-color: black;
    border-radius: 5px 5px 0 0;
}