.Focus.Avatar {
    background-color: cadetblue;
}

li
{
    margin-bottom: 4px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 4px;
}

ol
{
    margin: 8px;
    overflow-y: auto;
    padding-left: 18px;
}

.description
{
    background-color: pink;
}

.description.unlocked
{
    background-color: lightgreen;
}