.General.Panel
{
    height: max-content;
    width: 60%;
    margin-top: 8px;
    margin: auto;
    min-width: 784px;
}

.General.Panel h3
{
    height: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}