.General.Panel
{
    height: max-content;
    margin-top: 8px;
    width: 75%;
    margin: auto;
    max-width: 1360px;
    min-width: 784px;
}

.General.Panel h3
{
    height: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}