@import "./constants.scss";

.App {
    min-height: 100%;
}

// Wraps a header, footer and page content into a page
#page-wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.Page {
    flex: 1;
    //margin-left: $pageMarginLeft;
    //margin-right: $pageMarginRight;
    margin-top: $pageMarginTop;
    margin-bottom: $pageMarginBottom;
    width: 100%;
    text-align: center;
}